{
  "extends": ["next", "prettier", "plugin:tailwindcss/recommended"],
  "rules": {
    "import/prefer-default-export": "off",
    "no-console": "off",
    "no-var": "error",
    "no-html-link-for-pages": "off",
    "tailwindcss/classnames-order": "off",
    "tailwindcss/enforces-shorthand": "off",
    "react-hooks/exhaustive-deps": "off"
  }
}
