@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 8.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  code {
    @apply bg-secondary rounded-sm p-[2px] font-bold
  }

  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

image {
  width: auto;
  height: auto;
}

/* General styling for the code block */
.hljs {
  @apply overflow-x-auto font-mono !important
}

pre {
  @apply max-w-full overflow-x-auto bg-card p-2 rounded-lg border border-border !important;
}

code {
  @apply whitespace-pre-wrap text-primary !important;
  /* This will wrap the text inside the code block */
}

.code-language {
  @apply font-bold text-[#555] bg-[#eee] px-2 py-1 rounded-lg text-sm mb-2 inline-block !important;
}

/* Keyword styling (like def, if, else, return) */
.hljs-keyword {
  @apply text-[#a626a4] font-bold !important;
  /* Purple */
}

/* Function names */
.hljs-title.function_ {
  @apply text-[#e45649] !important;
  /* Reddish */
}

/* Parameters and variables */
.hljs-params {
  @apply text-[#50a14f] !important;
  /* Green */
}

/* Number styling */
.hljs-number {
  @apply text-[#986801] !important;
  /* Brown */
}

/* Comments */
.hljs-comment {
  @apply text-[#a0a1a7] italic !important;
  /* Light gray */
}

/* Built-in functions and strings */
.hljs-built_in,
.hljs-string {
  @apply text-[#0184bb] !important;
  /* Blue */
}

/* Substitutions in strings */
.hljs-subst {
  @apply text-[#c18401] !important;
  /* Orange */
}

.hljs-variable {
  @apply text-[#4078f2] !important;
  /* Blue */
}

.hljs-built_in {
  @apply text-[#4cf240] !important;
  /* Blue */
}

.katex-html {
  @apply hidden
}

h1, h2, h3 {
  @apply text-base md:text-lg
}

p {
  @apply text-xs md:text-sm text-primary/80
}

math {
  @apply bg-secondary border rounded-lg p-1 max-w-full overflow-x-auto
}

mo, mfrac, mtext, mrow, msup, mi, annotation {
  @apply text-[10px]
}